.alignment1 {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}
  
.figure1 {
    width: 600px;
    height: 400px;
}
  
.figure2 {
    width: 600px;
    height: 400px;
}
  
.figure-statement {
    text-decoration: none;
    text-align: center; 
}

body{
    background-color: orange;
}